<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="luna" sequenceNumber="37">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.nattable.core.source.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/nattable/releases/1.0.1/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sapphire.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.scout.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sapphire.ui.swt.xml.editor.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sapphire.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sapphire.osgi.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sapphire.platform.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sapphire.modeling.xml.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sapphire.java.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sapphire.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sapphire.ui.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sapphire.ui.swt.gef.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sapphire.java.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcp.sdk.id" version="4.4.2.M20150204-1700"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.10.2.v20150123-0348"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.10.1.v20150123-0348"/>
<unit id="org.eclipse.jdt.source.feature.group" version="3.10.1.v20150204-1700"/>
<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.2.0.v20150129-0838"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.6.102.v20150204-1316"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4"/>
</location>
</locations>
</target>
