<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="luna" sequenceNumber="24">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sapphire.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.scout.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sapphire.ui.swt.xml.editor.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sapphire.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sapphire.osgi.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sapphire.platform.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sapphire.modeling.xml.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sapphire.java.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sapphire.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sapphire.ui.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sapphire.ui.swt.gef.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sapphire.java.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.nattable.core.source.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/nattable/releases/1.0.1/repository/"/>
</location>
</locations>
</target>
