<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="mars" sequenceNumber="29">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.feature.feature.group" version="1.3.0.201503261201"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.poi.feature.feature.group" version="1.3.0.201503261201"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.source.feature.feature.group" version="1.3.0.201503261201"/>
<unit id="org.eclipse.nebula.widgets.nattable.core.source.feature.feature.group" version="1.3.0.201503261201"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.poi.source.feature.feature.group" version="1.3.0.201503261201"/>
<unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="1.3.0.201503261201"/>
<repository location="http://download.eclipse.org/nattable/releases/1.3.0/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sapphire.modeling.xml.feature.group" version="9.0.0.201506110922"/>
<unit id="org.eclipse.gef4.geometry.sdk.feature.group" version="0.1.0.201506081138"/>
<unit id="org.eclipse.gef4.zest.sdk.feature.group" version="0.1.0.201506081138"/>
<unit id="org.eclipse.sapphire.osgi.feature.group" version="9.0.0.201506110922"/>
<unit id="org.eclipse.gef4.dot.sdk.feature.group" version="0.1.0.201506081138"/>
<unit id="org.eclipse.sapphire.sdk.feature.group" version="9.0.0.201506110922"/>
<unit id="org.eclipse.gef4.mvc.examples.source.feature.group" version="0.1.0.201506081138"/>
<unit id="org.eclipse.sapphire.ui.swt.xml.editor.feature.group" version="9.0.0.201506110922"/>
<unit id="org.eclipse.sapphire.java.feature.group" version="9.0.0.201506110922"/>
<unit id="org.eclipse.sapphire.platform.feature.group" version="9.0.0.201506110922"/>
<unit id="org.eclipse.sapphire.ui.swt.gef.feature.group" version="9.0.0.201506110922"/>
<unit id="org.eclipse.gef4.fx.sdk.feature.group" version="0.1.0.201506081138"/>
<unit id="org.eclipse.gef4.common.sdk.feature.group" version="0.1.0.201506081138"/>
<unit id="org.eclipse.sapphire.ui.feature.group" version="9.0.0.201506110922"/>
<unit id="org.eclipse.scout.feature.group" version="5.0.0.20150610-0823"/>
<unit id="org.eclipse.gef4.cloudio.sdk.feature.group" version="0.1.0.201506081138"/>
<unit id="org.eclipse.gef4.mvc.sdk.feature.group" version="0.1.0.201506081138"/>
<unit id="org.eclipse.sapphire.java.jdt.feature.group" version="9.0.0.201506110922"/>
<unit id="org.eclipse.sapphire.feature.group" version="9.0.0.201506110922"/>
<unit id="org.eclipse.gef4.layout.sdk.feature.group" version="0.1.0.201506081138"/>
<unit id="org.eclipse.gef4.zest.examples.source.feature.group" version="0.1.0.201506081138"/>
<unit id="org.eclipse.sapphire.source.feature.group" version="9.0.0.201506110922"/>
<unit id="org.eclipse.gef4.graph.sdk.feature.group" version="0.1.0.201506081138"/>
<repository location="http://download.eclipse.org/releases/mars"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.tools.context.spy.feature.feature.group" version="0.1.0.v20141107-1620"/>
<unit id="org.eclipse.e4.tools.css.spy.feature.feature.group" version="0.14.0.v20140808-1908"/>
<unit id="org.eclipse.e4.tools.css.spy.feature.source.feature.group" version="0.14.0.v20140808-1908"/>
<unit id="org.eclipse.e4.core.tools.feature.feature.group" version="0.14.0.v20141225-1728"/>
<unit id="org.eclipse.e4.tools.model.spy.feature.feature.group" version="0.1.0.v20141219-1152"/>
<unit id="org.eclipse.e4.tools.event.spy.feature.feature.group" version="0.15.0.v20141107-1620"/>
<unit id="org.eclipse.e4.tools.event.spy.feature.source.feature.group" version="0.15.0.v20141107-1620"/>
<unit id="org.eclipse.e4.core.tools.feature.source.feature.group" version="0.14.0.v20141225-1728"/>
<repository location="http://download.eclipse.org/e4/downloads/drops/S-0.17-201501051100/repository/"/>
</location>
</locations>
</target>
